@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
body {
  background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-pink);
  font-family: "Work+Sans", sans-serif;
}

.container {
  width: 550px;
  padding: 30px 40px;
  background-color: var(--white);
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 5px;
}

.container .heading {
  display: flex;
  gap: 20px;
}

.container .heading h1 {
  font-weight: 800;
}

.container .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  color: var(--grayish-purple);
  font-size: 16px;
}

.container .question img {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 565px) {
  .container {
    width: 320px;
    padding: 20px;
  }
  body {
    background: url(./assets/images/background-pattern-mobile.svg) no-repeat;
    background-size: auto;
  }
}

@media (max-width: 375px) {
  .container {
    width: 320px;
    padding: 20px;
  }
  body {
    background: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: none;
    background-size: auto;
  }
}

.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
